node_modules/
**/node_modules/

.angular/
**/.angular/

dist/
**/dist/

.next
**/.next/

.vscode
**/.vscode

.idea
**/.idea
*.iml
**/*.iml

bin/
**/bin/
*.classpath
*.project
*.settings
target/
**/target/
libs/localrepo

*.class
*.jar

*.py[cod]

*.log
**/*.log

.DS_Store
**/.DS_Store
.nova/
Thumbs.db

# Applications
*.app
*.exe
*.war

# Large media files
*.mp4
*.tiff
*.avi
*.flv
*.mov
*.wmv